<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: header-links}">
    <meta charset="UTF-8">
    <title>Aggiungi pizza</title>
</head>
<body>

    <header class="container">
        <nav th:replace="~{fragments :: navbar('home', '', false)}"></nav>
    </header>



    <div class="container">

        <h1>Aggiungi una nuova pizza</h1>

        <form id="new-pizza-form" class="row gy-3 mt-3" method="post" th:object="${pizza}" th:action="@{/pizza/create}">

            <!-- name -->
            <div class="col-6">
                <label class="form-label" for="name">Name*</label>
                <input type="text" id="name" class="form-control" th:field="*{name}"
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>


            <!-- price -->
            <div class="col-6">
                <label class="form-label" for="price">Price*</label>
                <input type="number" id="price" class="form-control" th:field="*{price}"
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <!-- image url -->
            <div class="col-12">
                <label class="form-label" for="image">Image url*</label>
                <input type="text" id="image" class="form-control" th:field="*{image}"
                       th:errorClass="is-invalid">

            </div>

            <!--      description      -->
            <div class="col-12">
                <label class="form-label" for="description">Description*</label>
                <textarea id="description" class="form-control" th:field="*{description}"
                       th:errorClass="is-invalid" rows="3"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="col-3">
                <button type="submit" class="btn btn-primary">Salva</button>
            </div>


        </form>
    </div>

</body>
</html>