<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: header-links}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>

    <header class="container">
        <nav th:replace="~{fragments :: navbar('home', ${keyword}, true)}"></nav>
    </header>

    <div class="container">

        <div class="d-flex align-items-center">
            <h1 class="my-3">Pizzeria Dallo Zio </h1>
            <a th:href="@{/pizza/create}" class="ms-2" title="Aggiungi">
                <i class="fa-solid fa-square-plus fs-1"></i>
            </a>
        </div>



        <div class="row">
            <div class=" card col-sm-12 col-md-6 col-lg-4 m-2 p-0" style="width: 18rem;" th:each="pizza : ${pizzeList}">
                <img th:src="${pizza.image}" class="card-img-top h-75" th:alt="${pizza.name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pizza.name}"></h5>

                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text" th:text="${pizza.description}"></p>
                        <p class="card-text" th:text="|€ ${pizza.price}|"></p>
                    </div>

                    <a th:href="@{|/pizza/${pizza.id}|}" class="btn btn-primary">Vedi dettagli</a>


                </div>
            </div>


        </div>

        <p th:unless="${pizzeList.size > 0}"> Spiacente non abbiamo pizze</p>
    </div>


</body>
</html>