<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: header-links}">
    <meta charset="UTF-8">
    <title>Pizza details</title>
</head>
<body>

  <header class="container">
    <nav th:replace="~{fragments :: navbar('home', '', false)}"></nav>
  </header>

  <div class="container" th:object="${pizza}">

    <div class="row">

      <div class="col-sm-12 col-md-6">
        <img th:src="*{image}" class="img-fluid" th:alt="*{name}">
      </div>

      <div class="col-sm-12 col-md-6">
        <h1 th:text="*{name}"></h1>
        <p th:text="*{description}"></p>
        <p th:text="|*{price} €|"></p>

        <h2>Ingredienti</h2>
        <div>
          <p th:each="ing : ${ingredients}" th:text="${ing.name}"></p>
        </div>

        <div th:if="${pizza.ingredients.size() == 0 || pizza.ingredients == null}">Ancora nessun ingrediente</div>


      </div>

    </div>

    <h2>
      <span>Offerte</span>
      <a th:href="@{/offer/create(pizzaId=${pizza.id})}"
         class="btn btn-primary rounded-circle"
         title="Aggiungi offerta"
      >
        <i class="fa-solid fa-plus"></i>
      </a>
    </h2>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Titolo</th>
        <th scope="col">Data di inizio</th>
        <th scope="col">Data di fine</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="offer : *{offer}" th:object="${offer}">
        <td th:text="${offer.title}"></td>
        <td th:text="${#temporals.format(offer.startDate, 'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(offer.endDate, 'dd/MM/yyyy')}"></td>
        <td>
          <a th:href="@{|/offer/edit/*{id}|}" class="btn btn-primary" title="edit">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </td>
        <td>
          <a th:href="@{|/offer/delete/${offer.id}|}" class="btn btn-danger" title="delete">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</body>
</html>