<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: header-links}">
  <meta charset="UTF-8">
  <title>Aggiungi un offerta</title>
</head>
<body>

<header class="container">
  <nav th:replace="~{fragments :: navbar('home', '', false)}"></nav>
</header>



<div class="container">

  <h1>
    <span>Aggiungi una nuova offerta per </span>
    <span th:if="${pizza != null}" th:text="|for ${pizza.title}|"></span>
  </h1>

  <form id="new-offer-form" class="row gy-3 mt-3" method="post" th:object="${offers}" th:action="@{/offer/create}">

    <!-- per passare l'id al nuovo oggetto -->
    <input type="hidden" th:field="*{pizza}">

    <!-- name -->
    <div class="col-4">
      <label class="form-label" for="title">Titolo*</label>
      <input required type="text" id="title" class="form-control" th:field="*{title}"
             th:errorClass="is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
        <ul>
          <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>


    <!-- start date -->
    <div class="col-4">
      <label class="form-label" for="price">Start date*</label>
      <input required type="date" id="start-date" class="form-control" th:field="*{startDate}"
             th:errorClass="is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
        <ul>
          <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>

    <!-- end date -->
    <div class="col-4">
      <label class="form-label" for="end-date">End date*</label>
      <input required type="date" id="end-date" class="form-control" th:field="*{endDate}"
             th:errorClass="is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">
        <ul>
          <li th:each="err : ${#fields.errors('endDate')}" th:text="${err}"></li>
        </ul>
      </div>
    </div>


    <div class="col-3">
      <button type="submit" class="btn btn-primary">Salva</button>
      <a class="btn btn-primary" th:href="@{|/pizza/${offers.pizza.id}|}">Torna indietro</a>
    </div>


  </form>
</div>

</body>
</html>